@import "tailwindcss";

:root {
  --ff-logo: "Bebas Neue", sans-serif;
  --ff-body: "Inter", sans-serif;
}

/* enable percentage based heights */
html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--ff-body);
}

a:active,
button:active {
  transform: scale(95%);
}
a {
  display: inline-block;
}
